body{
    margin:0;
    font-family: Georgia, "Times New Roman", serif;
    line-height:1.5;
    background:white;
}

#container{
    max-width:1100px;
    margin:40px auto;
    background:white;
    padding:40px;
    border: solid gray
}

/*header*/
header h1{
    font-family: Arial, Helvetica, sans-serif;
    text-transform:lowercase;
    letter-spacing:0;
    font-size:80px;
    margin:0;
}

header h1 em{
 color: red ;
 letter-spacing: 0;
 }

 header p{
    margin:0;
    font-size:16px;
    color:gray;
}

/*main grid*/
main{
    display:grid;
    grid-template-columns: 1fr 2fr; /*right column bigger */
    gap:40px;
    margin-top:0px;
}

/*articles  */

article:nth-of-type(1){ grid-column: 2; grid-row: 1; }
article:nth-of-type(2){ grid-column: 2; grid-row: 2; }

article:nth-of-type(1) img:first-of-type{

    width:50%;
    display:block;
    margin-bottom:12px;
    
    
}

article:nth-of-type(2) img:first-of-type{

    width:100%;
    display:block;
    margin-bottom:12px;
    
}

article h2{
    font-size:30px;
    margin:0 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

article p{
    margin:0 0 14px 0;
    font-size:15px;
}

/*asides */

aside:nth-of-type(1){ grid-column: 1; grid-row: 1; }
aside:nth-of-type(2){ grid-column: 1; grid-row: 2; }
aside:nth-of-type(3){ grid-column: 1; grid-row: 3; }

aside:nth-of-type(1){
    background: white;
    padding:20px;
    border-left:4px solid gray;
    margin-bottom:30px;
    border-right: solid rgba(128, 128, 128, 0.544);
}

aside:nth-of-type(2){
    background: rgba(128, 128, 128, 0.329);
    padding:20px;
    border-left:4px solid gray;
    margin-bottom:30px;
}


aside h2{
    font-size:30px;
    margin:0 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(165, 41, 41)
}

aside p:nth-of-type(1){
 font-size:25px;
}

aside p:nth-of-type(2){
 font-size:25px;
}

aside li, aside h3{
    margin:0 0 10px 0;
    font-size: 20px;
} 

aside ul{
    padding-left: 20px;
    margin: 0px ;
}

footer{
    margin-top: 40px;
    font-size:14px;
    color: gray;
    text-align: left;
}